

<div class="text-center m-4">
    <button type="button" class="btn btn-secondary me-2" (click)="routes('listarActivo')">Listar Activos</button>
    
    <button type="button" class="btn btn-secondary me-2" (click)="routes('crear')">Crear Activo</button>

</div>
<div class="text-center pt-5 mt-5" >
    <h1 class="text-center">Bienvenido al sistema de gestión de Activos</h1> 
    <h1 class="text-center">Este sistema le permitira consultar, crear y actualizar los activos fijos de la compañia</h1>
</div>
<router-outlet></router-outlet>