.form-control-mat-select-list {
    border-radius: 6px;
    color: #c3c4c3;
    background-color: #424242;
    border: 1px solid #000000;
    padding: 2px 10px;
    cursor: pointer;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }


.form-control-mat-select-list .mat-select-trigger .mat-select-value,
  .form-control-filter {
    font-family: "Neris Light Italic", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: normal;
    color: #626366;
    text-align: left;
  }

  ::ng-deep .mat-form-field-infix{
    width: 100px !important;
  }